<div class="flex flex-row gap-5 justify-between items-center">
  <div class="text-left w-1/2">
    <h1 class="text-3xl my-5">Timber</h1>
  </div>
  <div class="text-right w-1/2">
    Sign In | Sign Up
  </div>
</div>

<p>Something more product-y will be created here shortly...</p>
