<h1>Timber Homepage</h1>
<p>Welcome, someone will be with you shortly...</p>

<div>
  <%= link_to 'Sign In', new_user_session_path %>
</div>
<div>
  <%= link_to 'Sign Up', new_user_registration_path %>
</div>
